<h1 id="about-title">About this Site</h1>

<p id="about-p">This site is part of the tech exercises in my CSCI 4830, or Introduction to Software Engineering class.  This site is a demonstration of my understanding of the subject material.  I plan to get an A in this class and be done with college in the next year.  Hopefully, I can get a job doing this type of work in the future.  Obviously, I have much work to do before I can get to that point.  In the meantime, I am limited to projects such as these.  Learning by example is, in my opinion, one of the best ways to learn.</p>

<p id="about-p">This is an attempt at a web forum.  The following are features I shall include in this web site.</p>

<ul id="about-ul">
  <li id="about-li">Boards</li>
  <li id="about-li">Threads</li>
  <li id="about-li">Posts</li>
</ul>

<p id="about-p">The following are things I <em>might</em> include.</p>

<ul id="about-ul">
  <li id="about-li">Floated Threads</li>
  <li id="about-li">Edit History</li>
  <li id="about-li">Thread Bump Mechanics</li>
  <li id="about-li">Image Posting</li>
  <li id="about-li">Video Posting</li>
  <li id="about-li">Spoiler Tags</li>
  <li id="about-li">Users</li>
  <li id="about-li">User Authentication</li>
  <li id="about-li">Show User Posts</li>
  <li id="about-li">Post Editing</li>
  <li id="about-li">Post Deleting</li>
  <li id="about-li">Board Editing</li>
  <li id="about-li">Board Deleting</li>
</ul>

<p id="about-p">Of course, when the tech exercise is done.  I will probably still make changes to this site.  This is a pretty awesome way to gain experience in using Rails.</p>
