body
{
  background-color: #EEEEFF;

}

.title
{
  min-width: 75em;
  width: 100%;
  height: 3em;
 // background-color: #EEDDCC;
  
  border-top-style: solid;
  border-bottom-style: double;

  border-size: 0.5em;

  border-color: #000000;

}

.main_title
{
  margin-top: 0.1em;
  text-align: center;
  font-family: tahoma;


}

.center
{
  //margin-left: auto;
  //margin-right: auto;
  text-align: center;
}

.button_row
{
  margin-top: 0.1em;
  min-width: 75em;
  width: 100%;
  height: 1.59em;

  background-color: #222266;
  background: -moz-linear-gradient(right, #EEEEFF 10%, #222266 30%, #222266 70%, #EEEEFF 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(10%,#EEEEFF), color-stop(30%,#222266), color-stop(70%,#222266), color-stop(90%,#EEEEFF)); /* Chrome,Safari4+ */
  background: -o-linear-gradient(right, #EEEEFF 10%, #222266 30%, #222266 70%, #EEEEFF 90%); 
  background: -ms-linear-gradient(right, #EEEEFF 10%, #222266 30%, #222266 70%, #EEEEFF 90%); 
  background: linear-gradient(to right, #EEEEFF 10%, #222266 30%, #222266 70%, #EEEEFF 90%); 

  border-radius: 4em;
}

.button
{
  display: inline-block;
 // position: center;
  width: 6.2em;
  height: 1.3em;
  font-size: 1.0em;
  border-style: solid;
  border-width: 0.1em;
  //border-radius: 0.1em;

 // margin-top: 0.26em;


  text-align: center;

  font-family: sans-serif;
  padding-top: 0.15em;
}

.button-unhover
{
  color: #DDDDFF;
  background-color: #222266;
  border-color: #9999CC;
}

.button-hover
{
  background-color: #7070B5;
  border-color: #8888CC;

}

.left
{
  width: 9em;
  min-height: 50em;
//  background-color: #FFAAFF;
}

.content
{
  margin-top: 1em;
  width: 60em;
  min-height: 50em;
  background-color: #EEFFDD;

  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;

  padding-left: 0.5em;
  padding-right: 0.5em;

}

.right
{
  width: 5em;
  min-height: 50em;
  //background-color: #339955;

}

.bottom
{
  margin-top: 1em;
  height: 3em;
  min-width: 75em;
  width: 100%;
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 1px;
  border-color: black;
}

#about-title
{
  font-family: times;

}

#about-p, #about-li
{
  font-family: arial;

}